#chart {
    width: 100% !important;
}

.stepNode{
    background-color: lightcoral;
    height: 35px;
    font-size: 13px;
    padding: 10px;
    position: absolute;
    color: white;
    text-align: center;
}

.stepNodeRelation {
    width: 5px;
    height: 40px;
    background-color: black;
    position: absolute;
    left: 35px;
    top: 15px;
}
